.HomeContainer {
  height: 53vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 120% 58%;
}

.HomeContainer > div {
  background-color: #0c4d03;
}

.MainPart {
  background-image: url(assests/landingBackground.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.7;
}

.MainText {
  height: auto;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  font-family: Playfair Display SC;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  letter-spacing: 10px;
  color: #000000;
  border: 2px solid #000000;
}

.historyButton {
  margin-top: 5%;
  width: 25%;
  height: 40%;
}

.calculateCalButton {
  margin-top: 5%;
  width: 30%;
  height: 40%;
}

.AboutHomeButton {
  margin-top: 5%;
  width: 40%;
  height: 40%;
}

.BottomPart {
  font-family: Playfair Display SC;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
  grid-gap: 0;
}

.HistoryHome {
  display: grid;
  grid-template-rows: 50% 30%;
  justify-items: center;
}

.CaloriCalHome {
  display: grid;
  grid-template-rows: 50% 30%;
  justify-items: center;
}

.AboutHome {
  display: grid;
  grid-template-rows: 50% 30%;
  justify-items: center;
}
