#main{
	padding:1%;
	max-width: 100%;
	height: 90vh;
	background-color: #D3D3D3;
	display: flex;
	flex-flow: column;
}
#picker{
	padding:0.5%;
	flex-shrink: 1;
	background-color: transparent;
}
#displayData{
	display: flex;
	margin: 0%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: red;
}
#data{
	display: flex;
	margin: 1%;
	padding:2%;
	flex-grow: 10;
	background-color: blueviolet;
}
#calText{
	color:gray;
}
#totalCalorie{
	display:flex;
	align-items: flex-end;
	justify-content: center;
	margin:2%;
	text-align: center;
	flex-grow: 0.5;
}
#displayChart{
	flex-grow: 2;
	background-color: blue;
}